body {
  background: url('https://raw.githubusercontent.com/aysllanferreira/Projeto-12-Solar-System/2c9ca68a22f9ee29ed8d912bc4ef30aa533d144f/src/assets/bg3.png');
}

.missions {
  border: 2px whitesmoke solid;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: 600;
  width: 200px;
  margin-bottom: 5px;
  margin-left: 43%;
}

.Mercúrio {
  height: 31px;
  left: 39px;
  /* position: absolute; */
  top: 620px;
  width: 41px;
}

.Vênus {
  height: 76px;
  left: 137px;
  /* position: absolute; */
  top: 597px;
  width: 102px;
}

.Terra {
  height: 79px;
  left: 278px;
  /* position: absolute; */
  top: 596px;
  width: 106px;
}

.Marte {
  height: 50px;
  left: 423px;
  /* position: absolute; */
  top: 610px;
  width: 66px;
}

.Júpiter {
  height: 204px;
  left: 489px;
  /* position: absolute; */
  top: 518px;
  width: 272px;
}

.Saturno {
  height: 210.9px;
  left: 694px;
  /* position: absolute; */
  top: 547.35px;
  width: 282.41px;
}

.Urano {
  height: 109px;
  left: 977px;
  /* position: absolute; */
  top: 576px;
  width: 144px;
}

.Netuno {
  height: 107px;
  left: 1255px;
  /* position: absolute; */
  top: 577px;
  width: 144px;
}

